@use "./variables" as var;

@mixin section {

    .background-1{
        background: var.$dark-blue-lighter;
        position: relative;
    }

    .about-section {
        margin: 0 6rem;
        display: flex;
        padding: 3rem 0;


        .photo-container {
            margin: auto;
            justify-self: center;
            position: relative;

            img {
                width: 100%;
                max-width: 350px;
                border-radius: 50%;
                box-shadow: -20px -8px var.$blue-transparent;
            }
        }
    }

    .icon-container {
        max-width: 100px;

        img{
            max-width: 60px;
        }
    }

    .text-container {
        justify-self: flex-start;
        padding: 0 4rem;

        h2 {
            font-size: 2.5rem;
            margin-top: 0;
        }

        h3 {
            font-weight: var.$light;
            font-size: 1.3em;
            line-height: 2rem;
        }
    }
}
