@use "./variables" as var;

@mixin section {

    .caro-wrapper{
        margin: 0 6rem 0 14rem;
        padding-bottom: 4rem;
        display: flex;
    }

    .slide{
        display: none;
    }

    .text-col{
        padding-right: 5rem;

        h2{
            font-weight: var.$regular;
            font-size: 2.4em;
        }

        h3{
            font-weight: var.$light;
            font-size: 1.3em;
            line-height: 2rem;
        }

        .tags-box{
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;

            .tag{
                border-radius: 4rem;
                border: 1px solid var.$blue;
                padding: .5rem 2rem;
                margin: .5rem;
            }
        }
    }

    .text-col:nth-of-type(2), .text-col:nth-of-type(3){
        display: none;
    }

    .img-col{
        background-image: url('../images/projects-images/project-001.png');
        background-size: cover;
        min-width: 50%;
        min-height: 30em;
        max-width: 50%;
        border-radius: 1rem;
        box-shadow: -20px -8px var.$blue-transparent;
        background-position: left;
    }


    .arrow-col{
        padding-left: 2rem;
        margin: auto;

        .arrow-icon{
            margin: 2rem 0;
            filter:  brightness(0) invert(1);
            transition: .7s filter;


            &:hover{
                cursor: pointer;
                filter: none;
            }
        }

        .arrow-down{
            transform: rotate(0.5turn);
        }
    }
}