@use "./variables" as var;

@mixin section {
    .contact-section{
        text-align: center;

        img{
            width: 6em;
        }


        .text-area{

            h2{

            }

            h3{
                font-weight: var.$light;
            }
        }
    }
    
}