@use "./variables" as var;

@mixin section {
    .background-2{
        background: var.$dark-blue-background;
    }

    .project-section{
        margin: 0 6rem;
        display: flex;
        padding: 3rem 0;
    }

    .text-col{
        a{
            text-decoration: none;
        }
    }


    .button-box{
        display: flex;
        margin-top: 2rem;
        justify-content: left;
        text-align: center;
        flex-wrap: wrap;

        a{
            margin-right: 1.5rem;
            margin-bottom: 1rem;
            width: 43%;
        }

        .more-button{
            padding: 1rem;
        }
    }

    
}