@use "./variables" as var;

@mixin section {
    .background-2{
        background: var.$dark-blue-background;
    }

    .project-section{
        margin: 0 6rem;
        display: flex;
        padding: 3rem 0;
    }

    .text-col{
        a{
            text-decoration: none;
        }
    }


    .more-button{
        padding: .7rem;
        text-align: center;
        margin: 1.5rem 0;
    }
    

    .half-button{
width: 50%;
    }
}