@use './variables' as var;

@mixin section {
    
    
    .skill-box{
        width: 30%;


        h3{
            font-size: 1.5rem;
            color: var.$blue;
            font-weight: var.$semiBold;
        }


        .skills{
            margin: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .nameSkill{
            margin: auto 0;
            width: 15%;
            padding: 1rem;

            svg{
                fill: white;
            }
        }

        .lang{
            display: grid;
        }

        .point-box{
            display: flex;
            margin: auto 0;
            grid-column: 2/3;
            
        }

        .point{
            min-width: .5px;
            min-height: .5px;
            max-width: .5px;
            max-height: .5px;
            margin: 0 .1rem;
            padding: 10px;
            background: var.$dark-blue-lighter;
            border: 2px solid var.$blue;
            border-radius: 50%;
        }

        .full{
            background: var.$blue;
        }


        .short-grid{
            grid-template-rows: repeat(2, 1fr);

            .level-lang{
                font-weight: var.$semiBold;
                color: var.$blue;
            }
        }
    }

}