////Colors
$dark-blue-background: #161E29;
$dark-blue-lighter: #202D3F;
$blue: #63CCFA;
$white: #FFFFFF;


////font
$default-size: 16px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
$font-main: 'Montserrat', sans-serif;

///weights
$regular: 400;
$light: 300;
$semiBold: 600;
