@use './variables' as var;
@use './gradient-container' as grad;
@use './welcome-section' as welc;
@use './about-section' as about;
@use './project-section' as project;
@use './caro-wrapper' as caro;
@use './graphics-section' as graph;
@use './modal' as mod;
@use './skills-section' as skill;

html{
    box-sizing: border-box;
    font-family: var.$font-main;
    background: var.$dark-blue-background;
    color: var.$white;
    font-size: var.$default-size;
    font-weight: var.$regular;
    scroll-behavior: smooth;
}

body{
    margin: 0;

    .text-blue{
        color: var.$blue;
    }
}

@include grad.section;
@include welc.section;
@include about.section;
@include project.section;
@include caro.section;
@include graph.section;
@include mod.modal;
@include skill.section;